body {
  font-family: "Courier New", Courier, monospace;
  margin: 20px;
  padding: 10px;
}

h1 {
  font-family: "Pacifico", cursive;
  font-size: 5rem;
  transform: rotate(-5deg);
  text-align: center;
}

h3 {
  font-family: "Pacifico", cursive;
  font-size: 2rem;
  text-align: center;
  color: tomato;
}

nav {
  display: flex;

  justify-content: space-around;
  background-color: tomato;
  padding-top: 18px;
  /* margin-top: 5px; */
  height: 30px;
  font-weight: bold;
}

a {
  color: white;
  font-size: 1.2rem;
  text-decoration: none;
  /* padding: 40px; */
}

.cocktail-wrapper {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(min(25em, 100%), 1fr));
  grid-gap: 30px;
  border: 1px solid lightpink;
  text-align: center;
}

svg {
  width: 100%;
  /* height: 30%; */
}
/* .image {
  display: block;
  width: 100%;
  height: 400px;
  background-color: lightgray;
  display: none;
} */

p.ingredients {
  font-weight: bolder;
}
.form-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 400px;
  height: 300px;
  margin: 0 auto;
  background-color: gold;
}
form {
  display: flex;
  flex-direction: column;
  font-weight: bold;
  justify-content: start;
}

label,
input {
  /* margin: 5px; */
  padding: 6px;
  border: none;
  border-radius: 5px;
}

input[type="submit"] {
  background-color: black;
  margin-top: 20px;
  padding: 5px;
  border-radius: 20px;
  width: 150px;
  height: 50px;
  color: white;
  align-self: center;
  /* justify-items: center;
  align-items: center; */
}

footer {
  text-align: center;
}
